@charset "utf-8";

@import "../fun/animation";
@import "keyframe";

.box{
  width: 100px;
  height: 100px;
  background: skyblue;
  border-radius: 5px;
}

.btn{
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.btn-primary{
  background: tomato;
  color: white;
  font-size: 16px;
  opacity: 0.9;

  &:active{
    opacity: 1;
  }
}

.ib{
  display: inline-block;
}
.animate{
  -webkit-animation-play-state:paused !important;
  animation-play-state:paused !important;
}
.active .animate {
  -webkit-animation-play-state:running !important;
  animation-play-state:running !important;
}

//移动
.translate{
  @include animation(slideRight 1s ease 0s both);
}
//旋转
.rotate{
  @include animation(rotate360 1s linear  0.8s  both);
}
//缩放
.lessen{
  @include animation(lessen 1s ease  1.8s both);
}
//渐隐
.fadeOut{
  @include animation(fadeOut 1s ease  2.8s both);
}





